@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game with Chat</h1>
    <p class="lead">This is an application created for Web Systems Programming course at Wrocław University of Technology</p>
    @Html.ActionLink("Let's play »", "Game", "Home", new object { }, new { @class = "btn btn-primary btn-large" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My portfolio</h2>
        <p>Find out something about me.</p>
        <p><a class="btn btn-default" href="http://squixy.zz.mu/">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My GitHub</h2>
        <p>See some of my projects.</p>
        <p><a class="btn btn-default" href="https://github.com/KamilLelonek/">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recent work</h2>
        <p>Take a look at my latest project.</p>
        <p><a class="btn btn-default" href="http://pwrrssreader.herokuapp.com/">Go &raquo;</a></p>
    </div>
</div>